.cell {
    height: 40px;
    width: 40px;
    box-shadow: 0 2px 1px  lightgray;
    cursor: pointer;
}

.cell_number {
    text-align: center;
    padding-top:  9px;
    font-weight: bold;
    color: color-contrast(#505050 и #fff, #000);
}